<section class="relative overflow-hidden h-[44rem] sm:h-[47rem] md:h-[50rem]" >
  <div class="slider-bg">
    <img src="{{ component.bgImg }}" class="w-[100vw] h-[67vh] relative" />

    <div
      class="absolute top-10 rtl:left-10 ltr:right-10 text-white w-fit justify-center items-center"
    >
      <a
        href="{{ component.category[0].url }}"
        class="no-underline w-[6rem] h-10 border border-white bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-20 hover:scale-110 transition-transform duration-300 ease-in-out rounde-lg flex justify-center items-center"
      >
      {{trans('blocks.hoome.showAll')}}
      </a>
    </div>
  </div>

  <br />
  <div
    class="container px-16 relative overflow-hidden"
    style="margin-top: 1%; top: -300px"
  >
    <salla-products-slider
      source="categories"
      source-value="{{ component.category[0].id }}"
      show-controls="false"
      style="color: white; height: 50%"
      class="s-products-slider-wrapper hydrated"
      limit="20"
      autoplay
      display-all-url=""
      block-title="{{ component.category[0].name }}"
      block-subtitle=""
      slider-id="slider-with-bg-5"
    >
      <salla-product-card
        minimal="true"
        full-image="false"
        special="false"
      ></salla-product-card>
    </salla-products-slider>
  </div>
</section>
