<div class="slider-bg" style="background-image: url('{{component.bgImg}}'); background-repeat: no-repeat; background-size: cover; height: 100vh;">  
  <div style="color: white; padding: 3%;">
      <h1 class="mb-3">{{component.title}}</h1>
      <p class="mb-8">{{component.subtitle}}</p>
      <a href="{{component.category[0].url}}">
          <p style="border: 2px solid white; width: 10%; text-align: center; border-radius: 30px;">عرض الكل</p>
      </a>
  </div>
</div>

<br/>

<div class="container px-16 relative overflow-hidden" style="margin-top: 1%; position: relative; top: -300px;">
  <salla-products-slider source="categories" source-value="{{component.category[0].id}}" show-controls="false" style="color: white; height: 50%;" class="s-products-slider-wrapper hydrated" limit="20" autoplay display-all-url="" block-title="{{component.category[0].name}}" block-subtitle="" slider-id="slider-with-bg-5">
      <salla-product-card minimal="true" full-image="false" special="false"></salla-product-card>
  </salla-products-slider>
</div>
