<section class="s-block s-block--categories">
<div class="">

<div>
<a href="{{component.headimg_url}}">
<img class="bg-cover" src="{{component.head_image}}" />
</a>

</div>
<div class=" container grid grid-cols-2 gap-1  x {{is_rtl ? 'rtl' : 'ltr'}}">
    <a href="{{component.rightimg_url}}">
      <img class="" src="{{component.right_image}}" />
    </a>
  
    <a href="{{component.leftimg_url}}">
      <img class="" src="{{component.left_image}}" />
    </a>
  </div>
  

</div>

</section>
<style>

    .x{
        
        direction: ltr;
    }
</style>

