{# | Variable | Type | Description |
|------------------|---------|---------------------------------| | cart | object
| | | cart.items_count | int | | | cart.total | string | Formatted total ex:
"١٠٠ ر.س" | #}
{# <salla-slider show-controls="false" class="relative">
  <div slot="items">
    {% for slide in component.slides %}
        <div class="swiper-slide w-full min-h-[300px] lg:min-h-[528px] bg-dark relative">
  <div style="background-image: url({{ slide.image }});" class="overlay-bg bg-cover bg-center absolute inset-0"></div>
            
            <div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
                <div class=" w-4/6 text-center md:w-7/12 lg:w-5/12">
                    <h2 data-swiper-parallax="-500" class="lg:text-title-size font-bold leading-tight mb-4">{{ slide.title }}</h2>
                    <p data-swiper-parallax="-300" class="line-clamp-2 description">{{ slide.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</salla-slider> #}
{# <div class="z-40 h-[12rem] w-screen bg-gray-100 opacity-20 blur-lg absolute"></div> #}
<header class="flex flex-col absolute z-50">
  <section
    class="flex justify-between items-center border-b border-white h-[2.6rem] w-[100vw]"
  >
  {# <a href="https://salla.sa/dev-adn671ta9breebis/policies/page-1929369537" fill="solid" color="light">ll</a> #}
    <div class="mr-5 flex">
      <ul class="flex text-[1rem] font-[500]">
        <li><a class="decoration-none text-white " href="#">سياسة الضمان </a></li>
        <span class="mx-3 text-white text-lg">|</span>
        <li><a class="decoration-none text-white " href="#">سياسة الإستبدال والإسترجاع</a></li>
        <span class="mx-3 text-white text-lg">|</span>
        <li><a class="decoration-none text-white " href="#">طرق الدفع</a></li>
      </ul>
      <div class="header-buttons mr-5">
        {% if store.settings.is_multilingual or store.currencies_enabled %}
        <button
          type="button"
          onclick="salla.event.dispatch(`localization::open`)"
          class="rounded-xl px-3 basis-0 flex items-center font-[600]"
        >
          <span class="flex items-center text-white">
            <i class="icon sicon-earth ml-1 mt-1.5"></i>
            <span class="font-normal">{{ user.language.name }}</span>
          </span>
          {# <i class="icon sicon-arrow-down text-[13px] mt-1.5 mx-1"></i> #}
        </button> 
        <salla-localization-modal></salla-localization-modal>
        {% endif %}
      </div>
    </div>
    <div class="ml-[5%] flex text-white">
      {% component 'footer.contacts' with {is_header:true} %}
    </div>
  </section>
  <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
    <i class="sicon-menu text-primary text-2xl white"></i>
  </a>
  <section class="grid grid-cols-12 mt-3 h-[5rem] ">
    <div class="col-span-4 flex items-center flex-nowrap w-100 pr-[10%]">
      {% component 'header.menu' %}
    </div>
    <div
      class="col-span-4 flex justify-center items-center w-10/12 mr-8"
    >
      <a href="{{ store.url }}">
        <img
          class="w-[5rem] h-[5rem] rounded-full"
          src="{{ store.logo }}"
          alt="{{ store.name }}"
        />
      </a>
    </div>
    <div
      class="col-span-4 flex justify-end items-center text-center pl-[13%]"
    >
      <div>
        <button
          onclick="salla.event.dispatch('search::open')"
          class=" search-btn"
        >
          <span class="sicon-search text-white text-2xl"></span>
        </button>
        <div class="header-search flex-1">
          <salla-search-modal inline oval height="36"></salla-search-modal>
        </div>
      </div>
      {% if user.type == "user" %}
      <salla-user-menu></salla-user-menu>
      {% else %}
      <a
        class="text-lg mx-3"
        style="cursor: pointer !important"
        onclick="salla.event.dispatch('login::open')"
      >
        <i class="icon sicon-user text-white text-2xl"></i>
      </a>
      {% endif %}
      <salla-cart-summary class="mr-2 white">
        <i slot="icon" class="icon sicon-cart text-2xl leading-none" style="color: white !important;"></i>
      </salla-cart-summary>
    </div>
  </section>
</header>
