{#
| Variable         | Type   | Description                                        |
|------------------|--------|----------------------------------------------------|
| contacts         | array  |                                                    |
| contacts[].name  | string |                                                    |
| contacts[].type  | string | whatsapp, mobile, phone, telegram, email           |
| contacts[].icon  | string | Css Class                                          |
| contacts[].url   | string | Direct Access to the contact ex: tel:+966555555555 |
| contacts[].value | string |                                                    |
#}
{% if is_header %}
    <div class="hidden lg:flex items-center">
        {% for contact in contacts|filter(contact => contact.type in ['email']) %}
          <a href="{{ contact.url }}"
              class="topnav-link-item">
              {% if contact.type == 'email' %}
                  {{ contact.value }}
              {% else %}
                  <span>{{ trans('blocks.footer.social') }}: </span>
                  <span class="unicode">{{ contact.value }}</span>
              {% endif %}
          </a> 
        {% endfor %}
    </div> 
{% else %}
     <div class="text-black">
           <h3 class="text-white text-center">{{ trans('blocks.footer.social') }}</h3>
        <div class="flex justify-around items-center gap-3">
            {% for contact in contacts %}
                <a href="{{ contact.url }}" class="cursor-pointer last:mb-0 flex items-center justify-center text-sm leading-none w-[4rem] h-fit bg-white shadow-md hover:bg-slate-200 shadow-white rounded-md">
                    <i class="mt-1 w-5 h-7 justify-center flex items-center shrink-0 {{ contact.icon }}"></i>
                    <span id="con" class="text-unicode unicode">{{ contact.name }}</span>
                </a>
            {% endfor %}
        </div>
     </div>
{% endif %}

